<div class="md-content">
  <div>
    <div class="md-primary" color="primary">
      Sign in
    </div>

    <div>
      <div>
        <p class="md-body-2"> Sign in with your email</p>
      </div>

      <form [formGroup]="loginForm" #f="ngForm" (ngSubmit)="login()">

        <input formControlName="email" type="email" placeholder="Email" />
        <input formControlName="password" type="password" placeholder="Password" />

        <div>
          <a [routerLink]="['/recover']">Forgot password?</a>
          <button class="md-primary" type="submit" aria-label="login">Sign In</button>
        </div>
      </form>

      <div [hidden]="error == ''">
        <div class="md-warn">
          <p class="md-body-1">{{ error }}</p>
        </div>
      </div>


      <div>
        <a [routerLink]="['/signup']">Need an account?</a>
      </div>
    </div>
  </div>
</div>